.html {
  height: 100%;
}

.body {
  margin: 0;
  height: 100%;
  font: 16px / 1 sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.question-button {
  margin: .25em;
}
